.shipping_container{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.shipping_box{
    width: 30vw;
    height: 90vh;
    overflow: hidden;
}
.shipping_heading{
    text-align: center;
    font: 600 2vmax 'Roboto';
    width: 50%;
    margin: auto;
    margin-top: 2vh;
}
.shipping_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    justify-content: space-evenly;
    height: 80%;
}
.shipping_form > div{
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
}
.shipping_form > div > input{
    padding: 1vmax 4vmax;
    width: 60%;
    padding-right: 1vmax;
    border-radius: 5px;
    outline: none;
    color: black;
    border: 1px solid gray;
}
.shipping_form > div > select{
    padding: 1vmax 4vmax;
    width: 78%;
    padding-right: 1vmax;
    border-radius: 5px;
    outline: none;
}
.shipping_button{
    border: none;
    background-color: #232f3e;
    color: white;
    width: 78%;
    padding: 1vmax;
    cursor: pointer;
    margin: 2vmax;
    border-radius: 10px;
}
.shipping_button_gray{
    border: none;
    background-color: gray;
    color: white;
    width: 78%;
    padding: 1vmax;
    cursor: not-allowed;
    margin: 2vmax;
    border-radius: 10px;
}
.shipping_button:hover{
    background-color: #151c25;
}
.err{
    color: red;
}
@media screen and (max-width: 600px) {
.shipping_box{
    width: 100vw;
    height: 95vh;
}
.shipping_heading{
    font: 400 6vw 'Roboto';
}
.shipping_form{
    padding: 11vw;
}
.shipping_form > input,
.shipping_form > select{
    padding: 5vw 10vw;
    font: 300 4vw 'Roboto'
}
}