.search_form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(239, 237, 237);
}
.search_input{
    background-color: white;
    border: none;
    width: 50vw;
    height: 8vh;
    padding-left: 1vmax;
}
.search_button{
    height: 8vh;
    width: 10vw;
    padding: 1vmax 2vmax;
    background-color: tomato;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.5s;
}
.search_button:hover{
    background-color: rgb(243, 89, 62);
}