.orderSuccess{
    margin: auto;
    text-align: center;
    height: 67vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.orderSuccess > svg{
    font-size: 10vw;
    color: rgb(18, 204, 18);
}
.orderSuccess > a{
    color: black;
    margin: 2vmax;
}
.orderSuccess > p{
    font-size: 2vmax;
}
.orderSuccess > span{
    font-size: 2vmax;
    font-weight: 600;
}

@media screen  and (max-width: 600px){
    .orderSuccess > a{
        padding: 3vw 6vw;
        font: 400 4vw 'Roboto';
        margin: 2vmax;
    }
    .orderSuccess > svg{
        font-size: 20vw;
    }
    .orderSuccess > p{
        margin: 2vmax;
        font-size: 5vw;
    }
}