.product_container{
    transition: all 0.2s;
    margin-left: 1vw;
    margin-right: 1vw;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: 1px solid lightgray;
    padding: 1vw;
    margin: 1vw;
    width: 16%;
    flex-wrap: wrap;
    display: flex;
}
.product_container p{
    color: black;
    padding: 0;
    margin: 0;
}
.product_name{
    font-size: 1.2vmax;
    color: black;
    font-weight: 500;
}
.product_desc{
    font-size: 1.2vmax;
    color: black;
    font-weight: 400;
}
.product_id{
    font-size: 0.8vmax;
}
.product_price{
    font-size: 1.2vmax;
    font-weight: 500;
}
.product_reviewContainer{
    margin: 0;
}
.product_review{
    margin: 0;
}
.product_container span{
    color: black;
}
.product_link{
    text-decoration: none;
}
.product_container:hover{
    transform: translateY(-0.2rem);
}
.product_image{
    width: 10vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 41%;
    margin-bottom: 2vh;
}

@media screen and (max-width: 600px){
    .product_container img{
        width: 40vw;

    }
}