.cart_container{
    padding-left: 3vmax;
    padding-right: 3vmax;
    padding-top: 2vh;
}
.cart_header{
    background-color: #232f3e;
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    display: grid;
    margin-top: 1vh;
    grid-template-columns: 4fr 1fr 1fr;
    font: 300 1vmax "Roboto";
    color: white;
    padding: 2vh 1vw;

}
.cart_header p{
    margin: 10px;
}
.cart_header :nth-child(3){
    text-align: end;
}
.cart_content{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    border-bottom: 1px solid lightgray;
}
.cart_content_last{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    border-bottom: 0px solid lightgray;
}
.cart_inputContainer{
    display: flex;
    align-items: center;
    height: 5vmax;
}
.cart_inputContainer > button{
    border: none;
    background-color:#232f3e;
    padding: 0.5vmax;
    cursor: pointer;
    color: white;
    transition: all 0.5s;
}
.cart_inputContainer > button:hover{
    background-color:  #171f28;
}
.cart_inputContainer > input{
    border: none;
    padding: 0.5vmax;
    width: 1vmax;
    text-align: center;
    outline: none;
    font: 400 0.8vmax 'Roboto';
    color: black;
}
.cart_subtotal{
    display: flex;
    padding: 0.5vmax;
    color: black;
    justify-content: flex-end;
    font-size: 1.1vmax;
    font-weight: 600;
    margin-right: 0.5vmax;
}
.cart_grossTotal{
    display: grid;
    grid-template-columns: 2fr 1.2fr;
}
.cart_grossTotalBox{
    border-top: 3px solid #232f3e;
    margin: 1vmax 0vmax;
    display: flex;
    padding: 1vmax 0;
    font: 400 1.1vmax 0;
    font-weight: 600;
    justify-content: space-between;
    box-sizing: border-box;
}
.cart_grossTotalBox p{
    font-size: 1.1vmax;
}
.cart_checkoutButton{
    display: flex;
    justify-content: flex-end;
}
.cart_checkoutButton button{
    background-color: #232f3e;
    color: white;
    border: none;
    padding: 0.8vmax 4vmax;
    margin: 1vmax 0vmax;
    width: 80%;
    cursor: pointer;
    border-radius: 30px;
}
.emptyCart{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;
}
.emptyCart svg{
    color: #232f3e;
    font-size: 3vw;
}
.emptyCart > a {
    text-decoration: none;
    background-color: #232f3e;
    border-radius: 10px;
    color: white;
    padding: 1vmax 2vmax;
}
.cart_heading{
    font-size: 2vmax;
    font-weight: 600;
}
.img{
    width: 100%;
    margin-top: 2vmax;

}

@media screen and (max-width: 600px) {
    .cart_container{
        padding: 0;
        min-height: 60vh;
        font-size: 2vmax;
    }
    .cart_header{
        width: 100%;
        font: 300 1.8vmax 'Roboto';
        grid-template-columns: 3fr 1fr 1fr;
    }
    .cart_inputContainer{
        height: 10vmax;
        display: flex;
        justify-content: center;
        transform: scale(0.7);
    }
    .cart_inputContainer > button{
        padding: 1vmax;
    }
    .cart_inputContainer input{
        padding: 1vmax;
        font: 400 1.8vmax 'Roboto';
    }
    .cart_subtotal{
        padding: 0.5vmax;
        font: 300 1.5vmax 'Roboto';
        height: 20vmax;
        margin-left: 1vmax;
    }
    .cart_grossTotal{
        display: flex;
        flex-direction: column;
        grid-template-columns: 0fr 2fr;

    }
    .cart_grossTotalBox{
        padding: 2vmax;
        font: 300 2vmax 'Roboto';
        align-items: flex-end;
    }
    .cart_checkoutButton > button{
        padding: 2vmax 4vmax;
        width: 40%;
        font: 300 2vmax 'Roboto';
        transform: scale(0.9);
        align-items: flex-end;
    }
    .emptyCart{
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .cart_content{
        width: 100%;
        margin: auto;
        display: grid;
        grid-template-columns: 4fr 1fr 1fr;
        border-bottom: 1px solid lightgray;
    }
}
